& when (@media-common = true) {
    .makukh-personal-discount-request form .fieldset > .legend {
        font-size: @h3__font-size;
        margin-top: @heading__margin-top__base;
    }

    .modal-content .makukh-personal-discount-form {
        padding-bottom: @indent__base;
    }
}
